@import '~bootstrap';
@import "variables";

/* general */
* {
	margin: 0;
	padding: 0;
}

a {
	$color: #eee;
	color: $color;
	text-decoration: none;

	&:hover, &:active, &:visited {
		text-underline-offset: 3px;
		color: $color;
		text-decoration: underline;
	}
}

body {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, Sans-Serif, 'メイリオ';
	background-color: $bg_color;

	.container {
		margin: 0 auto;
		width: 80%;
	}
	
	.t-center {
		text-align: center;
	}

	.row {
		display: inline-flex;
		width: 100%;
	}
}


/* header */
header {
	display: flex;
	align-items: center;
	width: 100%;
	height: $headerHeight;
	color: #fff;
	background-color: $theme_green;

	@include mq(md) {
		height: $headerHeight * 0.8;
	}
	@include mq(sm) {
		height: $headerHeight * 0.5;
	}

	.row {
		align-items: center;
		justify-content: space-between;
	}

	h1 {
		$fontSize: 1.5rem;

		width: 66.6%;
		height: $headerHeight;
		background-color: rgba($color: #ffffff, $alpha: 0.1);

		font-size: $fontSize;
		font-weight: normal;
		line-height: $headerHeight;
		text-align: center;
		
		@include mq(md) {
			height: $headerHeight * 0.8;
			line-height: $headerHeight * 0.8;
			font-size: $fontSize * 0.7;
		}
		@include mq(sm) {
			height: $headerHeight * 0.5;
			line-height: $headerHeight * 0.5;
			font-size: $fontSize * 0.5;
		}
	}

	.how-to {
		$fontSize: 0.9rem;

		font-size: $fontSize;

		@include mq(md) {
			font-size: $fontSize * 0.3;
		}
		@include mq(sm) {
			font-size: $fontSize * 0.2;
		}
	}
}

/* main-section */
.main-section {
	height: 450px;
	background-color: $bg_color;
}

/* footer */
footer {
	$height: 90px !default;
	@extend header;

	.footer-content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;

		@include mq(md) {
			height: $headerHeight * 0.5;
		}
		@include mq(sm) {
			height: $headerHeight * 0.4;
		}
	}

	ul {
		display: inline-flex;

		li {
			@extend .how-to;
			margin-right: 10px;
			list-style-type: none;
		}
	}

	.copyright {
		@extend .how-to;
	}
}

/* index */

.functions-wrapper {
    width: 100%;
    position: fixed;
    top: $headerHeight;

    @include mq(md) {
		top: $headerHeight * 0.9;
	}
	@include mq(sm) {
		top: $headerHeight * 0.8;
	}
}

/* not:form */
#openingMessage {
    $fontSize: 1.2rem;

    font-size: $fontSize;

    @include mq(md) {
        font-size: $fontSize * 0.8;
    }

    @include mq(sm) {
        font-size: $fontSize * 0.7;
    }
}
/* form */
.input-form {
    .row {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
}

input:focus-visible {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.gcInput-wrapper {
    width: 35%;
    height: 100%;

    .gcInput {
        width: 100%;
        height: 80%;
        background-color: #fff;
        border: none;
        font-size: 2rem;
        text-align: center;
    
        &:hover,
        &:active {
            border: $hoverBorder;
        }
    
        &.inputted {
            border: 3px solid #aaa;
            border-radius: 5px;
        }
    
        &.invalidNum {
            border: 3px solid rgba(255, 0, 0, 0.5);
            border-radius: 5px;
        }
    }
    
    .gcInput-message {
        width: 150%;
        height: 20%;
        margin-bottom: 0;
        padding: 0;
        font-size: 0.8rem;
    }
}

.gc-suffix {
    width: 15%;
    padding: 0 20px;
    font-size: 1.5rem;
}

.seat-select-buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;

    .seat-select-buttons {
        $fontSize: 1.2rem;

        height: 38px;
        background-color: #fff;
        border: none;
        font-size: $fontSize;

        @include mq(md) {
            font-size: $fontSize * 0.9;
        }
        @include mq(sm) {
            font-size: $fontSize * 0.8;
        }

        &:hover,
        &:active {
            border: $hoverBorder;
        }

        &.selected {
            border: 3px solid #aaa;
            border-radius: 5px;
        }
    }
}

.submit-button-wrapper {
        text-align: center;

    #submitButton {
        width: 33%;
        height: 80px;
        color: #fff;
        background-color: $theme_green;
        border: none;
        font-size: 2rem;
        opacity: 0.5;

        transition: opacity 0.3s ease;

        &.all-set {
            opacity: 1;
        }
    }
}