@import "variables";

/* general */
* {
	margin: 0;
	padding: 0;
}

a {
	$color: #eee;
	color: $color;
	text-decoration: none;

	&:hover, &:active, &:visited {
		text-underline-offset: 3px;
		color: $color;
		text-decoration: underline;
	}
}

input:focus-visible {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, Sans-Serif, 'メイリオ';
	background-color: $bg_color;
}


/* header */

/* main-section */

/* footer */
