@charset "UTF-8";
/* general */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #eee;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  text-underline-offset: 3px;
  color: #eee;
  text-decoration: underline;
}

input:focus-visible {
  outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 600px;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.t-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

header, footer {
  height: 60px;
  background-color: #008031;
}

/* header */
header h1 {
  line-height: 60px;
  font-weight: bold;
  font-size: 1.8rem;
  color: #eee;
}

/* footer */
footer {
  color: #eee;
}
footer .column {
  height: 60px;
  justify-content: center;
}
footer li {
  display: inline-block;
  margin-right: 20px;
  font-size: 0.8rem;
}

/* index */
/* home */
.home {
  display: flex;
  height: 480px;
  align-items: center;
}

.messages-wrapper {
  height: 96px;
  justify-content: center;
}
.messages-wrapper h1 {
  font-weight: normal;
  font-size: 1.5rem;
}

.input-form {
  height: 384px;
}
.input-form .column {
  height: 100%;
  justify-content: flex-start;
}
.input-form .number-input-wrapper,
.input-form .seat-select-buttons-wrapper {
  width: 35%;
  height: 100%;
}
.input-form .number-input-wrapper .column,
.input-form .seat-select-buttons-wrapper .column {
  position: relative;
}
.input-form .display-number {
  position: absolute;
  top: 2%;
  width: 100%;
  height: 8%;
  background-color: rgba(238, 238, 238, 0.9);
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
}
.input-form .display-number::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input-form .z-stack {
  position: relative;
  height: 50%;
}
.input-form .z-stack .number-input {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.input-form .z-stack .number-pad-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  transition: opacity 0.6s;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
}
.input-form .z-stack .number-pad-wrapper.mask {
  height: 80%;
}
.input-form .z-stack .number-pad-wrapper .number-pad {
  position: relative;
  padding: 5px;
  width: inherit;
  height: inherit;
  text-align: center;
  table-layout: fixed;
  background-color: rgba(255, 166, 0, 0.7);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
}
.input-form .z-stack .number-pad-wrapper .number-pad td {
  margin: 1px;
  padding: 1px;
  border: none;
}
.input-form .z-stack .number-pad-wrapper .number-pad td input[type=button] {
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.9);
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.5s, color 0.5s;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
  cursor: pointer;
  font-size: 1rem;
}
.input-form .z-stack .number-pad-wrapper .number-pad td input[type=button]::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input-form .z-stack .number-pad-wrapper .number-pad td input[type=button]:active {
  box-shadow: 0px 0px 6px transparent, 0px 0px 6px transparent, inset 0px 0px 6px rgba(63, 63, 63, 0.5), inset 0px 0px 6px rgba(238, 238, 238, 0.9);
}
.input-form .z-stack .number-pad-wrapper .number-pad td input[type=button].not-number {
  font-size: 0.8rem;
}
.input-form .z-stack .number-pad-wrapper .number-pad td input:disabled {
  cursor: default;
}
.input-form .z-stack .number-pad-wrapper .number-pad td input:disabled:active {
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
}
.input-form .z-stack .number-pad-wrapper .number-pad.mask {
  visibility: hidden;
  opacity: 0;
}
.input-form .z-stack .number-pad-wrapper .type-numbers-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
  height: 35%;
  border-radius: 5px;
  color: #333;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.1s;
  visibility: hidden;
  opacity: 0;
}
.input-form .z-stack .number-pad-wrapper .type-numbers-message p {
  padding: 10px;
  font-size: 0.9rem;
}
.input-form .z-stack .number-pad-wrapper .type-numbers-message.mask {
  visibility: visible;
  opacity: 1;
}
.input-form .number-input {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
  box-shadow: inset 0px 0px 6px #333;
}
.input-form .number-input.validNum {
  border: none;
  border-radius: 5px;
}
.input-form .number-input.invalidNum {
  box-shadow: inset 0px 0px 6px red;
  border-radius: 5px;
  border: none;
}
.input-form .seat-select-buttons {
  width: 100%;
  height: 50%;
}
.input-form .seat-select-buttons.column {
  justify-content: space-between;
}
.input-form .seat-select-buttons .seat-select-button {
  height: 30%;
  font-size: 1rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
  cursor: pointer;
}
.input-form .seat-select-buttons .seat-select-button::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input-form .seat-select-buttons .seat-select-button:active, .input-form .seat-select-buttons .seat-select-button.selected {
  box-shadow: 0px 0px 6px transparent, 0px 0px 6px transparent, inset 0px 0px 6px rgba(63, 63, 63, 0.5), inset 0px 0px 6px rgba(238, 238, 238, 0.9);
}
.input-form .number-input-suffix {
  max-width: 30%;
  font-size: 1.5rem;
  margin-left: -30px;
}
.input-form .num-and-select-buttons {
  height: 80%;
}
.input-form .submit-button-wrapper {
  width: 100%;
  height: 20%;
}
.input-form .submit-button-wrapper .submit-button {
  width: 30%;
  height: 70%;
  background-color: rgba(0, 128, 49, 0.5);
  color: #eee;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.1s, background-color 0.5s;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
}
.input-form .submit-button-wrapper .submit-button::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input-form .submit-button-wrapper .submit-button.all-set {
  background-color: #008031;
  cursor: pointer;
}
.input-form .submit-button-wrapper .submit-button.all-set:active {
  box-shadow: 0px 0px 6px transparent, 0px 0px 6px transparent, inset 0px 0px 6px rgba(63, 63, 63, 0.5), inset 0px 0px 6px rgba(238, 238, 238, 0.9);
}
.input-form .input-part-message {
  margin: 20px 0 10px 0;
  font-size: 0.9rem;
}

/* confirm */
.confirm-form {
  align-items: center;
  height: 384px;
}
.confirm-form .show-input-number {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 60%;
  margin: 10%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  border-radius: 0;
}
.confirm-form .show-input-number p {
  margin: 10px 0;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #333;
}
.confirm-form .submit-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 20%;
}
.confirm-form .submit-button-wrapper .back-button {
  width: 40%;
  height: 70%;
  background-color: rgba(188, 122, 1, 0.5);
  color: #eee;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.1s, background-color 0.5s;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-form .submit-button-wrapper .back-button::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.confirm-form .submit-button-wrapper .back-button.all-set {
  background-color: #bc7a01;
  cursor: pointer;
}
.confirm-form .submit-button-wrapper .back-button.all-set:active {
  box-shadow: 0px 0px 6px transparent, 0px 0px 6px transparent, inset 0px 0px 6px rgba(63, 63, 63, 0.5), inset 0px 0px 6px rgba(238, 238, 238, 0.9);
}
.confirm-form .submit-button-wrapper .submit-button {
  width: 50%;
  height: 70%;
  background-color: rgba(0, 128, 49, 0.5);
  color: #eee;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.1s, background-color 0.5s;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
}
.confirm-form .submit-button-wrapper .submit-button::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.confirm-form .submit-button-wrapper .submit-button.all-set {
  background-color: #008031;
  cursor: pointer;
}
.confirm-form .submit-button-wrapper .submit-button.all-set:active {
  box-shadow: 0px 0px 6px transparent, 0px 0px 6px transparent, inset 0px 0px 6px rgba(63, 63, 63, 0.5), inset 0px 0px 6px rgba(238, 238, 238, 0.9);
}
.confirm-form .submit-button-wrapper .submit-button:disabled {
  opacity: 0.5;
  cursor: default;
}
.confirm-form .submit-button-wrapper .submit-button:active {
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
}

/* confirmed */
.confirmed-wrapper .back-button {
  width: 40%;
  height: 70%;
  background-color: rgba(188, 122, 1, 0.5);
  color: #eee;
  font-size: 1.8rem;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.1s, background-color 0.5s;
  box-shadow: 0px 0px 6px rgba(63, 63, 63, 0.5), 0px 0px 6px rgba(238, 238, 238, 0.9), inset 0px 0px 6px transparent, inset 0px 0px 6px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmed-wrapper .back-button::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.confirmed-wrapper .back-button.all-set {
  background-color: #bc7a01;
  cursor: pointer;
}
.confirmed-wrapper .back-button.all-set:active {
  box-shadow: 0px 0px 6px transparent, 0px 0px 6px transparent, inset 0px 0px 6px rgba(63, 63, 63, 0.5), inset 0px 0px 6px rgba(238, 238, 238, 0.9);
}

/*# sourceMappingURL=app.css.map*/