@charset "UTF-8";
/* general */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #eee;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  text-underline-offset: 3px;
  color: #eee;
  text-decoration: underline;
}

input:focus-visible {
  outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 600px;
  font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.t-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

header, footer {
  height: 60px;
  background-color: #008031;
}

/* header */
header h1 {
  line-height: 60px;
  font-weight: bold;
  font-size: 1.8rem;
  color: #eee;
}

/* footer */
footer {
  color: #eee;
}
footer .column {
  height: 60px;
  justify-content: center;
}
footer li {
  display: inline-block;
  margin-right: 20px;
  font-size: 0.8rem;
}

/* index */
/* main-section */
.home {
  display: flex;
  height: 480px;
  align-items: center;
}

.messages-wrapper {
  height: 96px;
  justify-content: flex-end;
}
.messages-wrapper h1 {
  font-weight: normal;
  font-size: 1.5rem;
}

.input-form {
  height: 384px;
}
.input-form .column {
  height: 100%;
  justify-content: space-evenly;
}
.input-form .number-input-wrapper,
.input-form .seat-select-buttons-wrapper {
  width: 35%;
  height: 100%;
}
.input-form .number-input,
.input-form .seat-select-buttons {
  height: 50%;
}
.input-form .number-input {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
}
.input-form .number-input.validNum {
  border: 3px solid #aaa;
  border-radius: 5px;
}
.input-form .number-input.invalidNum {
  border: 3px solid rgba(255, 0, 0, 0.5);
  border-radius: 5px;
}
.input-form .seat-select-buttons.column {
  justify-content: space-between;
}
.input-form .seat-select-buttons .neumorphism {
  margin: 2px 0;
  height: 25%;
  background-color: #eeeeee;
}
.input-form .seat-select-buttons .neumorphism::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input-form .seat-select-buttons .neumorphism .seat-select-button {
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  /* for neumorphism */
  background-color: #eeeeee;
  transition: box-shadow 0.5s;
  box-shadow: 10px 10px 30px rgba(238, 238, 238, 0.5), -10px -10px 30px rgba(238, 238, 238, 0.9), inset 10px 10px 30px transparent, inset -10px -10px 30px transparent;
}
.input-form .seat-select-buttons .neumorphism .seat-select-button.selected {
  border: 3px solid #aaa;
  border-radius: 5px;
}
.input-form .number-input-suffix {
  max-width: 30%;
  font-size: 1.5rem;
  margin-left: -30px;
}
.input-form .num-and-select-buttons {
  height: 80%;
}
.input-form .submit-button-wrapper {
  height: 20%;
}
.input-form .submit-button-wrapper .submit-button {
  width: 30%;
  height: 70%;
  background-color: #008031;
  color: #eee;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 100ms linear;
}
.input-form .submit-button-wrapper .submit-button:disabled {
  opacity: 0.8;
}
.input-form .input-part-message {
  font-size: 0.9rem;
}
